pkgbase = frigate
	pkgdesc = NVR with realtime local object detection for IP cameras
	pkgver = 0.17.2
	pkgrel = 6
	url = https://frigate.video
	arch = x86_64
	license = MIT
	makedepends = base-devel
	makedepends = ccache
	makedepends = git
	makedepends = nvm
	makedepends = openssl
	makedepends = pcre2
	makedepends = python
	makedepends = uv
	makedepends = wget
	makedepends = zlib
	options = !strip
	options = !debug
	source = frigate-0.17.2.tar.gz::https://github.com/blakeblackshear/frigate/archive/refs/tags/v0.17.2.tar.gz
	source = nginx-1.27.4.tar.gz::https://nginx.org/download/nginx-1.27.4.tar.gz
	source = nginx-vod-module-1.31.tar.gz::https://github.com/kaltura/nginx-vod-module/archive/refs/tags/1.31.tar.gz
	source = nginx-secure-token-module-1.5.tar.gz::https://github.com/kaltura/nginx-secure-token-module/archive/refs/tags/1.5.tar.gz
	source = ngx_devel_kit-0.3.3.tar.gz::https://github.com/vision5/ngx_devel_kit/archive/refs/tags/v0.3.3.tar.gz
	source = set-misc-nginx-module-0.33.tar.gz::https://github.com/openresty/set-misc-nginx-module/archive/refs/tags/v0.33.tar.gz
	source = tempio_amd64::https://github.com/home-assistant/tempio/releases/download/2021.09.0/tempio_amd64
	source = nginx-vod-rbsp.patch
	source = nginx-vod-exit-process.patch
	source = nginx-vod-ffmpeg8.patch
	source = requirements-arch.txt
	source = frigate.service
	source = frigate-nginx.service
	source = go2rtc-frigate.service
	source = frigate-nginx-start.sh
	source = go2rtc-frigate.sh
	source = frigate.install
	source = frigate.tmpfiles
	source = frigate.sysusers
	source = config.yml.example
	source = README.md
	sha256sums = e143d6d6e595cbc276b302f955fc0f9917e678823e515459a358140060edce3d
	sha256sums = 294816f879b300e621fa4edd5353dd1ec00badb056399eceb30de7db64b753b2
	sha256sums = ace04201cf2d2b1a3e5e732a22b92225b8ce61a494df9cc7f79d97efface8952
	sha256sums = 9809b7797e049429627a2c9e78c78e4b27bf4a2d0c7274a126cb6bb16ddd4215
	sha256sums = faa2fcd5168b10764d35081356511d5f84db5c526a1aa4b6add2db94b6853b2b
	sha256sums = cd5e2cc834bcfa30149e7511f2b5a2183baf0b70dc091af717a89a64e44a2985
	sha256sums = b7b93ebfd24c1161cec7aecfad62ab51f2241149358cef354b86cdbc6a60546f
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = frigate-nginx
	pkgdesc = Frigate custom nginx with vod / secure-token / set-misc modules
	depends = openssl
	depends = pcre2
	depends = zlib
	provides = frigate-nginx

pkgname = frigate
	pkgdesc = NVR with realtime local object detection for IP cameras (Arch / NVIDIA)
	install = frigate.install
	depends = frigate-nginx
	depends = go2rtc
	depends = ffmpeg
	depends = python
	depends = nvidia-utils
	depends = openssl
	optdepends = ffmpeg-full: AUR build with extra/nonfree codecs (optional; repo ffmpeg has NVDEC/NVENC)
	optdepends = ffmpeg-cuda-full: alternate AUR ffmpeg with CUDA
	backup = 
